@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  padding-top: 60px;
}

.current-time, .current-date {
	font-family: 'Abel', sans-serif;
}

.current-time {
  font-size: 10vw;
  position: relative;
  top: -60px;
}
.current-date {
  font-size: 3vw;
  color: grey;
  padding-right: 20px;
}